#samplediv{
    height: 300px;
    width: 300px;
    background-color: indianred;
}

@media(max-width:1500px) and (min-width:1000px)
{
#samplediv{
    background-color: cyan;
}
}


@media(max-width:750px)
{
    background-color:mediumpurple;
}

@media(max-width:1000px)
{
    background-color: peru;
}
@media(max-width:500px)
{
    background-color: green;
}

@media(min-width:750px) and (orientation:landscape){}

@media (not(color)){
#samplediv{
    background-color: grey;
}

}