<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Add a person</h3>
    <form action="/pages/add" method="post">
        <input type="text" name="name" id="" placeholder="Name"><br>
        <input type="number" name="age" id="" placeholder="Age"><br>
        <input type="text" name="city" id="" placeholder="City"><br>
        <input type="submit" name="" id="">

    </form>
</body>
</html>